//fonts//
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
  $mainFonts:'Ubuntu', sans-serif;
  $secondariFonts:"Roboto Condensed", sans-serif;

 $Italic: italic;
 
//sizes//
$textP:1.5rem;
$textLi:1rem;

